<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="libjpeg" version="8.0.4.14" targetFramework="Native" />
  <package id="libjpeg.redist" version="8.0.4.14" targetFramework="Native" />
  <package id="libpng" version="1.5.10.9" targetFramework="Native" />
  <package id="libpng.redist" version="1.5.10.9" targetFramework="Native" />
  <package id="libtiff" version="4.0.1.8" targetFramework="Native" />
  <package id="libtiff.redist" version="4.0.1.8" targetFramework="Native" />
  <package id="SDL" version="1.2.15.13" targetFramework="Native" />
  <package id="SDL.redist" version="1.2.15.13" targetFramework="Native" />
  <package id="SDL_image" version="1.2.12.1" targetFramework="Native" />
  <package id="SDL_image.redist" version="1.2.12.1" targetFramework="Native" />
  <package id="zlib" version="1.2.7.34" targetFramework="Native" />
  <package id="zlib.redist" version="1.2.7.34" targetFramework="Native" />
</packages>